[Unit]
Description=Filebrowser server
After=network.target

[Service]
ExecStart=filebrowser -c /home/user/.config/filebrowser/fb.json -d /home/user/.config/filebrowser/filebrowser.db
Restart=always

[Install]
WantedBy=default.target
